@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 42 10% 95%;
  --foreground: 42 5% 0%;
  --card: 42 10% 90%;
  --card-foreground: 42 5% 10%;
  --popover: 42 10% 95%;
  --popover-foreground: 42 95% 0%;
  --primary: 42 100% 55.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 42 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 4 10% 85%;
  --muted-foreground: 42 5% 35%;
  --accent: 4 10% 80%;
  --accent-foreground: 42 5% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 42 5% 90%;
  --border: 42 20% 50%;
  --input: 42 20% 18%;
  --ring: 42 100% 55.7%;
  --radius: 0.3rem;
}
.dark {
  --background: 42 10% 5%;
  --foreground: 42 5% 90%;
  --card: 42 10% 0%;
  --card-foreground: 42 5% 90%;
  --popover: 42 10% 5%;
  --popover-foreground: 42 5% 90%;
  --primary: 42 100% 55.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 42 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 4 10% 15%;
  --muted-foreground: 42 5% 60%;
  --accent: 4 10% 15%;
  --accent-foreground: 42 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 42 5% 90%;
  --border: 42 20% 18%;
  --input: 42 20% 18%;
  --ring: 42 100% 55.7%;
  --radius: 0.3rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
